




  <div class="container" style=" padding: 8px 24px 0;">





    <div>
      <button style="float: right;"
        mat-raised-button
        (click)="addNew()"
        class="button-template-color" >
        <span class="template-label text-template" >Ajouter</span>
      </button>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      ng update @angular/cli @angular/core
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">ID</mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <span class="text-template">{{row.id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="montant">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Montant (FCFA) </mat-header-cell>
        <mat-cell *matCellDef="let row" style="float: right;">
          <!-- {{row?.montant}} -->
          <span style="text-align: right" class="text-template">{{ ((row?.montant) | montantFormatter).replace('FCFA', '') }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Date</mat-header-cell>
        <mat-cell *matCellDef="let row"> <span class="text-template">{{row?.createdAt }}</span> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Utilisateur</mat-header-cell>
        <mat-cell *matCellDef="let row"> <span class="text-template">{{row?.userName}}</span> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>

        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
          <button (click)="deleteItem(i, row)"
                  [disabled] = "todayDate !== row?.createdAt "
                  matTooltip="{{ todayDate != row?.createdAt ? 'Date d\'enregistrement dépassée: Pour supprimer, veuillez ontacter l\'administrateur' : 'Supprimer la ligne' }}"
                  mat-icon-button color="accent"
                  [ngClass]="{'not-allowed-cursor ': todayDate !== row?.createdAt, '': todayDate === row?.createdAt}">
            <!-- <mat-icon aria-label="Delete">delete</mat-icon> -->
            <img class="label-header-person" src="assets/images/clarity/trash-line.svg" style="width: 20px; height: 20px; margin-right: 3px;" />
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results text-template" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
      No results
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
