
<table #contentToConvert>

  <tr>
    <td>
      <p style="width:35px;font-size: 8px; padding: 0; margin: 0;">{{data.cis}}</p>
      <p style="width:35px;font-size: 5px; padding: 0; margin: 0;">{{data.nom}}</p>
    </td>
    <td>
      <img  src='data:image/png;base64,{{ data.qrcode }}' style="padding: 0; margin: 0;">
    </td>
  </tr>
</table>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
  <!-- <button (click)="convetToPDF()">make pdf</button> -->
  <button pButton class="ui-button-raised ui-button-secondary" type="button" (click)="convetToPDF()" label="Télécharger" ></button>
  <button mat-button   [mat-dialog-close]="data" >Télécharger</button>
</div>
