<!-- <br>
<div class="form">
  <mat-form-field>
    <input [(ngModel)]="fieldValue"
           (keyup)="search($event)"
           matInput
           placeholder="----Rechercher un médicament par nom, categorie, référence, ... ----" >
  </mat-form-field>
</div>

<div class="form">
  <div *ngIf="produits?.length < 1">
    <p class="no-results" >Aucun résultat!</p>
  </div>


  <mat-form-field *ngIf="produits?.length > 0" style="width:95%!important;">
    <mat-label>Résultats</mat-label>
    <mat-select *ngIf="produits?.length === 1 " [formControl]="selecton">
      <mat-option *ngFor="let produit of produits" [value]="produit">
        {{ (produit.nom.length>50)? (produit.nom | slice:0:50)+'...':(produit.nom) }} / Qte:{{produit.qte}} / Prix:{{produit.prixUnitaire}} / Empl.:{{produit.emplacement}}
      </mat-option>
    </mat-select>


    <mat-select *ngIf="produits?.length > 1 " [formControl]="selecton" multiple style="width:95%!important;">
      <mat-select-trigger>
        {{selecton.value ? selecton.value[0]?.nom : ''}}
        <span *ngIf="selecton.value?.length > 1" class="example-additional-selection">
          (+{{selecton.value.length - 1}} {{selecton.value?.length === 2 ? 'autre' : 'autres'}})
        </span>
      </mat-select-trigger>
      <mat-option  *ngFor="let produit of produits" [value]="produit" matTooltip="{{produit.nom}}" style="font-size: 10px;">
        {{ ((produit.dci + produit.nom).length>80)? ( (produit.dci + '__'+ produit.nom+ '__'+ produit.formeDosage).toLowerCase() | slice:0:80)+'...':(produit.dci + '__'+ produit.nom + '__'+ produit.formeDosage ).toLowerCase() }} / Qte:{{produit.qte}} / Prix:{{produit.prixUnitaire}} / Empl.:{{produit.emplacement}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="produits?.length > 0" mat-raised-button title="Ajouter au panier" (click)="add(selecton.value)" class="button-template-color" >
    <span class="template-label" >Ajouter</span>
  </button>

</div> -->



<div class="smart-padding">

  <mat-form-field style="width: 85%!important;  ">
    <mat-icon matPrefix>search</mat-icon>
    <span matPrefix> &nbsp;&nbsp; </span>
    <input [(ngModel)]="fieldValue"
           (keyup)="search($event)"
           placeholder="Rechercher un médicament"
           type="text"
           matInput
           [matAutocomplete]="auto"
           style="font-size: 11px!important; "/>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)" >
      <mat-option *ngFor="let produit of produits" [value]="produit" style="font-size: 11px!important;">
        {{ ((produit.dci + produit.nom).length>80)? ( (produit.dci + '__'+ produit.nom+ '__'+ produit.formeDosage).toLowerCase() | slice:0:80)+'...':(produit.dci + '__'+ produit.nom + '__'+ produit.formeDosage ).toLowerCase() }} / Qte:{{produit.qte}} / Prix:{{produit.prixUnitaire}} / Empl.:{{produit.emplacement}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button (click)="addToSelection()"
          class="button-template-color">
    <span class="template-label">Sélectionner</span>
  </button>

</div>
