

<mat-toolbar style="background-color: #419989" class="crm-navigation-bar">

  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>

    <span (click)="goToHome()" class="toolbar-title label_ifrs17">SMART Pharma </span>

    <span class="spacer"></span>
    <span class="spacer"></span>



    <div>
      <button mat-button>
        <!-- <i  class="label-header-person material-icons">person</i> -->
        <img class="label-header-person" src="assets/images/clarity/user-line.svg" style="width: 20px; height: 20px; margin-right: 3px;" />
        <span class="label">{{login}}</span>
      </button>
    </div>
    <span class="filler"></span>
    <span class="spacer label" >Dernière connexion: 14/05/2020 à 00h:30</span>

    <div class="spacer"></div>
   <div style="float: right;">
    <button mat-button (click)="logout()">
      <i class="color-red material-icons" style="color: red;"> power_settings_new  </i>
      <!-- <span class="label"></span> -->
    </button>
   </div>

   <!-- <div class="spacer"></div> -->
   <div style="float: right; margin-top: 10px; margin-left: 10px;">
     <app-shopping-card></app-shopping-card>
   </div>
  </mat-toolbar-row>

</mat-toolbar>


