

<mat-toolbar style="background-color: #019786" class="crm-navigation-bar">

  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>

    <span (click)="goToHome()" class="toolbar-title label_ifrs17">SMART Pharma </span>

    <span class="spacer"></span>
    <span class="spacer"></span>



    <div>
      <button mat-button>
        <i  class="label-header-person material-icons">person</i>
        <span class="label">Mawuli ADJODA</span>
      </button>
    </div>
    <span class="filler"></span>
    <span class="spacer label" >Dernière connexion: 19/01/2020 à 15h:58</span>

    <div class="spacer"></div>
   <div style="float: right;">
    <button mat-button (click)="logout()">
      <i class="color-red material-icons" style="color: red;"> power_settings_new  </i>
      <span class="label">Se déconnecter</span>
    </button>
   </div>
  </mat-toolbar-row>

</mat-toolbar>


