<mat-toolbar color="primary">
  <h1>Angular Material Popover Example</h1>
</mat-toolbar>


<div class="container">

  <p>
    A material design popover component created using Angular version 8 with the Angular CDK.
  </p>

  <button mat-raised-button color="primary"
    [mdePopoverTriggerFor]="appPopover"
    mdePopoverTriggerOn="hover">
    Show Popover 1
  </button>

  <button mat-raised-button color="primary"
    [mdePopoverTriggerFor]="appPopover2"
    mdePopoverTriggerOn="click">
    Show Popover 2
  </button>

  <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
    <mat-card style="max-width: 300px">
      <mat-card-content>
      A material design popover component created using Angular version 8 with the Angular CDK.
      </mat-card-content>
      <mat-card-actions align="right">
        <button (click)="closePopover(0)" mat-button>Close</button>

        <button (click)="onSubmit(0)" mat-button>Submit</button>
      </mat-card-actions>
    </mat-card>
  </mde-popover>


  <mde-popover #appPopover2="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
    <mat-card style="max-width: 300px">
      <mat-card-content>
      A material design popover component created using Angular version 8 with the Angular CDK.
      </mat-card-content>
      <mat-card-actions align="right">
        <button (click)="closePopover(1)" mat-button>Close</button>

        <button (click)="onSubmit(1)" mat-button>Submit</button>
      </mat-card-actions>
    </mat-card>
  </mde-popover>
</div>
