




  <div class="container" style=" padding: 8px 24px 0;">

    <div class="grid">
      <div class="cell cell-width-60">
        <mat-form-field style="width: 60%;" class="text-template">
          <input matInput [(ngModel)]="scanCode"  placeholder="Scanner la référence du produit">
        </mat-form-field>
      </div>
      <div class="cell">
        <mat-form-field class="my-form-field text-template" style="width: 100px;">
          <input matInput type="number" min="1" placeholder="Qte reçu" [(ngModel)]="qteRecu">
        </mat-form-field>
      </div>
      <div class="cell">
        <button style="margin-top: 15px;" mat-raised-button (click)="reception()" class="button-template-color">
          <span class="template-label" > Valider la réception </span>
        </button>
      </div>
    </div>



    <br>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      ng update @angular/cli @angular/core
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">ID</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template">{{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Nom</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.nom}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Reference</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.cis}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="fournisseur">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Fournisseur</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row?.fournisseur?.nom}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="qte">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Qte</mat-header-cell>
          <mat-cell *matCellDef="let row" class="text-template"> {{row.qte}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prixUnitaire">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">prix unit.</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.prixUnitaire}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Date commande</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row.createdAt | date: 'dd/MM/yyyy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prixTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Prix total</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.prixUnitaire * row.qte}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>

        </mat-header-cell>

        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="downloadQrCode(row?.produit)" matTooltip="télécharger le QR code">
            <img  src="assets/images/clarity/download-line.svg" style="width: 20px; height: 20px; margin-right: 3px;" />
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results text-template" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
      No results
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
