<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="shouldRun"
>
  <!-- <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar> -->

  <app-navigation-bar *ngIf="isLogged" (toggleSidenav)="snav.toggle()"> </app-navigation-bar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav #snav
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <ng-container>
          <h2 matSubheader class="label-sidebar">Mes activités</h2>

          <a mat-list-item routerLink="/" style="height: 0;"></a>

          <a class="label-sidebar"
            *ngFor="let item of myWorkRoutes"
            mat-list-item
            (click)="snav.close()"
            [routerLink]="[item.route]"
            routerLinkActive="list-item-active"
          >
            <mat-icon matListIcon class="nav-list-icon">
              {{ item.icon }}
            </mat-icon>
            {{ item.title }}
          </a>

          <mat-divider></mat-divider>
        </ng-container>

        <ng-container>
          <h2 matSubheader class="label-sidebar">Customer</h2>

          <a class="label-sidebar"
            *ngFor="let item of customerRoutes"
            mat-list-item
            (click)="snav.close()"
            [routerLink]="[item.route]"
            routerLinkActive="list-item-active"
          >
            <mat-icon matListIcon class="nav-list-icon">
              {{ item.icon }}
            </mat-icon>
            {{ item.title }}
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
          <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
