$toolbar-title-padding: 0px !default;

.toolbar-title {
  margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.label-header-person {
  color: #98CB0B;
  margin-bottom: 2px;
}

.label_ifrs17 {
   font-size: 20px;
   font-family: sans-serif;
   color: lightgray;

  /* white  */
  // font-size: 20px;
  // font-family: sans-serif;
  // color: #111111;
}

.filler {
  flex: 1 1 auto;
}
// .crm-navigation-bar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 998;
// }


 .spacer {
  flex: 1;
 }
// .label {
//   font-size: 12px;
//   font-family: sans-serif;
//   color: white;
//   float: right;
// }

