<div class="card-2">

<!-- <mat-toolbar style="background-color: #346d9b" class="crm-navigation-bar"> -->
<mat-toolbar style="background-color: #24596d!important" class="crm-navigation-bar">
  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon style="color: lightgray!important;">menu</mat-icon>
    </button>

    <span (click)="goToHome()" class="toolbar-title label_ifrs17">SMART Pharma </span>

    <span class="spacer"></span>
    <span class="spacer"></span>



    <div style="color: lightgray!important;">
      <button mat-button >
        <i style="color: lightgray!important;" class="label-header-person material-icons">person</i>

        <!-- <img class="label-header-person" src="assets/images/clarity/user-line.svg" style="width: 20px; height: 20px; margin-right: 3px;" /> -->
        <span class="label">{{login}}</span>
      </button>
    </div>
    <span class="filler"></span>
    <span class="spacer label" >Dernière connexion: 14/05/2020 à 00h:30</span>

    <div class="spacer"></div>
   <div style="float: right;">
    <button mat-button (click)="logout()">
      <i class="color-red material-icons" style="color: red;"> power_settings_new  </i>
      <!-- <span class="label"></span> -->
    </button>
   </div>

   <!-- <div class="spacer"></div> -->
   <div style="float: right; margin-top: 10px; margin-left: 10px; color: lightgray!important;">
     <app-shopping-card></app-shopping-card>
   </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>







