
  <!-- <span class="spacer"></span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button> -->

  <div style=" padding: 8px 24px 0;">

    <div class="form">
      <mat-form-field class="text-template">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      ng update @angular/cli @angular/core
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <button mat-icon-button (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template">{{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Nom</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.nom}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Reference</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.reference}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="categorie">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Categorie</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.categorie ? row?.produit?.categorie : labelNonDefini}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="qte">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Quantite</mat-header-cell>
          <mat-cell *matCellDef="let row" class="text-template"> {{row.qte}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prixUnitaire">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">prixUnitaire</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-template"> {{row?.produit?.prixUnitaire}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Date</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-template"> {{row.createdAt | date: 'dd/MM/yyyy hh:mm'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="prixTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-template">Prix total (FCFA)</mat-header-cell>
        <mat-cell *matCellDef="let row" style="float: right;" class="text-template">
          <span style="text-align: right">{{ ((row?.produit?.prixUnitaire * row.qte) | montantFormatter).replace('FCFA', '') }}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results text-template" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
      No results
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
