<br>
<div class="container mat-elevation-z8">
    <div class="form">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher un produit">
        </mat-form-field>

        <div style="text-align: right; flex: 1 auto;">
            <button mat-raised-button title="Mon panier">
                <i matBadge="{{cartTotal}}" matBadgeColor="warn" class="material-icons">shopping_cart</i>
            </button>
        </div>

    </div>

    <mat-divider></mat-divider>

    <div *ngIf="ligneCommandes?.length > 0" style="padding: 8px 24px 0;">

      <!-- <div *ngFor="let ligneCommande of selecton?.value; index as i"> -->
        <div *ngFor="let ligneCommande of ligneCommandes; index as i">
          <div class="grid">

              <div class="cell cell-width-15">
                  <div class="grid">
                      <img style="width: 60px!important; height: 80px!important;" mat-list-avatar src="assets/images/product_image.png.webp" alt="Desc 1" />
                  </div>
                  <div class="grid">
                      <a href="#">Afficher détail</a>
                  </div>
                  <div class="grid">
                      <span *ngIf="ligneCommande?.produit.qte > 0" style="color: green;">En stock | Qte: {{ligneCommande?.produit.qte}}</span>

                      <span *ngIf="ligneCommande?.produit.qte === 0" style="color: red;">Non disponible | Qte: {{ligneCommande?.produit.qte}}</span>
                  </div>
              </div>

              <div class="cell cell-width-60">
                  <div class="grid">
                      <span class="link-caption" matTooltip="{{ligneCommande.produit.nom}}">
                            {{(ligneCommande?.produit?.nom.length>50)? (ligneCommande?.produit?.nom | slice:0:50)+'...':(ligneCommande.produit.nom) }}
                      </span>
                  </div>
                  <div class="grid">
                      <p mat-line>Ref.</p>
                  </div>
                  <div class="grid">
                      <p mat-line>Conditionnement: </p>
                  </div>
                  <!-- <div class="grid">
                          <p mat-line>Laboratoire: </p>
                      </div> -->
              </div>

              <div class="cell">
                  <div class="grid">
                      <p mat-line>Prix unit: {{ligneCommande?.produit.prixUnitaire}} fcfa</p>
                  </div>
                  <div class="grid">
                      <div class="cell" style="flex: 0 0 1%">
                          <div class="grid">
                              <div class="cell">
                                  <mat-form-field style="width: 100px;" >
                                      <input type="number" min="1"
                                            [(ngModel)]="ligneCommande.qte"
                                            [disabled]="ligneCommande?.isDisableUpdate"

                                            class="form-control"
                                            matInput placeholder="Qte à commander">
                                  </mat-form-field>
                              </div>
                              <div class="cell" *ngIf="ligneCommande?.produit.qte > 0">
                                <!-- <input [hidden] = "false" #modifStatus /> -->
                                <button mat-raised-button title="Modifier la quantité"
                                        *ngIf="ligneCommande?.isDisableUpdate"

                                        style="margin-top: 10px; margin-left: 5px;"
                                        (click)="startUpdateQte(ligneCommande)">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button  mat-raised-button title="Modifier la quantité"
                                        *ngIf="!ligneCommande?.isDisableUpdate"
                                        style="margin-top: 10px; margin-left: 5px;"
                                        (click)="updateQte(ligneCommande)">
                                    <i class="material-icons">save</i>
                                </button>
                              </div>
                              <div class="cell">
                                  <button mat-raised-button title="supprimer du pannier" style="margin-top: 10px; margin-left: 5px;"
                                          (click)="removeSelection(ligneCommande)">
                                      <i class="material-icons">delete</i>
                                  </button>
                              </div>

                          </div>
                      </div>

                  </div>
              </div>

          </div>
          <hr>
      </div>
  </div>

    <div style="padding: 8px 24px 0;">
      <div style="text-align: right; float: right; width: 50%;">
          <span>Sous-Total:  {{getTotal()}} FCFA</span>
          <br>
          <mat-divider></mat-divider>
          <br>
          <!-- <div style="float: left;">
              <button mat-raised-button color="primary" (click)="downloadFileSystem()">Facture</button>
          </div> -->
          <div style="float: right;">
            <button mat-raised-button
                    (click)="visualiserFacture()"
                    [disabled] = "! (ligneCommandes.length > 0)">
                    Passer la commande
            </button>
          </div>
      </div>

    </div>




    <!-- <div style="height: 600px">
      <ng2-pdfjs-viewer pdfSrc="file:///C:/Users/koffi/Downloads/facture%20(28).pdf" viewerId="MyUniqueID"  >
      </ng2-pdfjs-viewer>
    </div> -->
    <!-- <div style="width: 800px; height: 400px">
      <ng2-pdfjs-viewer #pdfViewerAutoLoad></ng2-pdfjs-viewer>
    </div> -->
