
<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="shouldRun"
>

<!-- style="margin-left: 10%; margin-right: 10%; " -->
<div class="card-2" style="margin-bottom: 1%;">
  <app-navigation-bar *ngIf="isLogged" (toggleSidenav)="snav.toggle()"> </app-navigation-bar>
</div>


  <mat-sidenav-container
    class="example-sidenav-container  "
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav #snav
      [mode]="'over'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      style="width: 250px!important;background-color:#f2f2f2;"
    >


    <!-- <app-sidebar></app-sidebar> -->
    <mat-nav-list *ngIf="isLogged">
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent " style="padding: 0!important;">
        <span class="full-width label-header-sidebar">Activités</span>
        <img mat-list-avatar src="assets/images/clarity/grid-chart-line.svg" style="width: 20px; height: 20px; margin-right: 3px;" />

				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
			</mat-list-item>
			<div *ngIf="showSubmenu" class="submenu" [ngClass]="{'expanded' : showSubmenu}" >
        <a *ngFor="let item of myWorkRoutes"
            (click)="snav.close()"
            [routerLink]="[item.route]"
            [ngClass]="{'disabled-element ': !item.isActive, '': item.isActive}"
            class="label-sidebar" mat-list-item >
            {{ item.title }}
        </a>
      </div>

      <mat-list-item (click)="showSubmenuAdmin = !showSubmenuAdmin" class="parent ">
        <span class="full-width label-header-sidebar">Administration</span>
        <img mat-list-avatar src="assets/images/clarity/administrator-line.svg" style="width: 20px; height: 20px; margin-right: 3px;"/>

				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuAdmin}">expand_more</mat-icon>
      </mat-list-item>
      <div *ngIf="showSubmenuAdmin" class="submenu" [ngClass]="{'expanded' : showSubmenuAdmin}" >
        <a *ngFor="let item of adminRoutes"
            (click)="snav.close()"
            [routerLink]="[item.route]"
            [ngClass]="{'disabled-element ': !item.isActive, '': item.isActive}"
            class="label-sidebar" mat-list-item >
            {{ item.title }}
        </a>
      </div>

      <mat-list-item (click)="showSubmenuParam = !showSubmenuParam" class="parent">
        <span class="full-width label-header-sidebar">Paramétrage</span>
        <img mat-list-avatar src="assets/images/clarity/cog-line.svg" style="width: 20px; height: 20px; margin-right: 3px;" />

				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenuParam}">expand_more</mat-icon>
      </mat-list-item>
      <div *ngIf="showSubmenuParam" class="submenu" [ngClass]="{'expanded' : showSubmenuParam}" >
        <a *ngFor="let item of paramRoutes"
            (click)="snav.close()"
            [routerLink]="[item.route]"
            [ngClass]="{'disabled-element ': !item.isActive, '': item.isActive}"
            class="label-sidebar" mat-list-item >
            {{ item.title }}
        </a>
			</div>
    </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <div style="padding: 0px 5% 0; ">

          <app-smart-breadcrumb *ngIf="isLogged"></app-smart-breadcrumb>

          <div style="margin-bottom: 1%; min-height: 350px;" [ngClass]="{'smart-box-shadow': isLogged}" >
            <router-outlet></router-outlet>
          </div>
          <!-- <mat-card>
            <router-outlet></router-outlet>
          </mat-card> -->

          <!-- <div id="bottom">
            <app-footer></app-footer>
          </div> -->

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div *ngIf="isLogged"  style="background-color: #eee"  >
    <app-footer></app-footer>
  </div>
  <!-- <app-footer></app-footer>
  style="margin-left: 10%; margin-right: 10%; "
 -->
</div>


