.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.label-sidebar {
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(14, 13, 13);
}

.disabled-element {
  pointer-events: none;
  cursor: not-allowed;
}









.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;

  color: #b62424!important;
}
.submenu.expanded {
  transform: scaleY(1);

  background-color: rgb(252, 248, 248)!important;
 /* color: #333333!important;*/
}

mat-list-item, mat-list-item-avatar, mat-list-item-with-avatar {

  background-color: #cbd1d3!important;
  margin-bottom: 2px!important;
}
