<!-- <div >
  <mat-form-field style="width: 450px!important; color: #fff!important; ">
    <input type="text"
           [(ngModel)]="fieldValue"
           (keyup)="search($event)"
           placeholder="Rechercher un médicament"
           aria-label="Number"
           matInput

           [matAutocomplete]="auto"
           style="font-size: 11px!important; color: #fff!important;">
    <mat-autocomplete [formControl]="selecton"
                      [displayWith]="displayFn"
                      #auto="matAutocomplete"
                      style="background-color: #fff; font-size: 11px!important;">

      <mat-option *ngFor="let produit of produits" [value]="produit" style="font-size: 11px!important;">
        {{ ((produit.dci + produit.nom).length>80)? ( (produit.dci + '__'+ produit.nom+ '__'+ produit.formeDosage).toLowerCase() | slice:0:80)+'...':(produit.dci + '__'+ produit.nom + '__'+ produit.formeDosage ).toLowerCase() }} / Qte:{{produit.qte}} / Prix:{{produit.prixUnitaire}} / Empl.:{{produit.emplacement}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  <button mat-raised-button class="template-color_" style="background-color: #5c928d!important">
    <span class="template-label">Sélectionner</span>
  </button>
</div> -->



<div>

  <mat-form-field style="width: 100%!important; color: #fff!important; ">
    <mat-icon matPrefix>search</mat-icon>
    <span matPrefix> &nbsp;&nbsp; </span>
    <input [(ngModel)]="fieldValue"
           (keyup)="search($event)"
           placeholder="Rechercher un médicament"
           type="text"
           matInput
           [matAutocomplete]="auto"
           style="font-size: 11px!important; color: #fff!important;"/>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)" >
      <mat-option *ngFor="let produit of produits" [value]="produit" style="font-size: 11px!important;">
        {{ ((produit.dci + produit.nom).length>80)? ( (produit.dci + '__'+ produit.nom+ '__'+ produit.formeDosage).toLowerCase() | slice:0:80)+'...':(produit.dci + '__'+ produit.nom + '__'+ produit.formeDosage ).toLowerCase() }} / Qte:{{produit.qte}} / Prix:{{produit.prixUnitaire}} / Empl.:{{produit.emplacement}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button (click)="addToSelection()"
          class="button-template-color">
    <span class="template-label">Sélectionner</span>
  </button>

</div>
