/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';

// A decommenter si besoin d'utiliser juste grid de bootstrap === >  pb de conflit géré
// @import "~bootstrap-4-grid/scss/grid.scss";
@import "~grid-css/grid.css";

html, body { height: 100%; widows: 50%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1;
}
// .label {
//   font-size: 12px;
//   font-family: sans-serif;
//   color: white;
//   float: right;
// }

.label-sidebar {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
}

a {
  color: rgb(79, 113, 224);
  text-decoration: none;
}

a:hover {
  color: rgb(79, 113, 224);
  text-decoration: underline;
}

.cell-width-10 {
  flex: 0 0 10%;
}

.cell-width-12 {
  flex: 0 0 12%;
}

.cell-width-15 {
  flex: 0 0 15%;
}

.cell-width-20 {
  flex: 0 0 20%;
}

.cell-width-30 {
  flex: 0 0 30%;
}

.cell-width-40 {
  flex: 0 0 40%;
}

.cell-width-50 {
  flex: 0 0 50%;
}
.cell-width-60 {
  flex: 0 0 60%;
}
.cell-width-80 {
  flex: 0 0 80%;
}
.cell-width-90 {
  flex: 0 0 90%;
}


.smart-padding {
  padding: 8px 24px 0;
}




//
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap-grid.min.css");
.container, .container-fluid {padding: 0;}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Suffix this section at the end of your styles.css for toogling between @media screen and @media print mode */
/*############################################################################################################*/
app-print-page, app-ngx-print-facture {
  /* hide the printing component from @media screen */
  display: none;
}


@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  app-print-page, app-ngx-print-facture{
    display: block;
  }

  // app-main-page {
  //   display: none;
  // }



}
/*#############################################################################################################*/
/* .ui-panelmenu .ui-panelmenu-header.ui-state-active > a */
.ui-panelmenu .ui-panelmenu-header.ui-state-active > a  {
  border: 1px solid ;
  background-color: #dbdbdb!important;
  color: #333333!important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
  padding: 0px !important

}
.ng-tns-c299-1 .ng-star-inserted {

  // color: #333333!important;
  color: #eee!important;
}
.ui-panelmenu-icon .pi .pi-fw .ng-tns-c299-1 .ng-star-inserted .pi-chevron-right{
  // color: #333333!important;
  color: #eee!important;
}


.ng-tns-c299-1 .ui-widget .ui-panelmenu-header .ui-state-default {
  background-color: #dbdbdb!important;
}

.submenu > .expanded .ng-star-inserted {
  background-color: #dbdbdb!important;
}
.ui-panelmenu {
  overflow-y: scroll;
  height: 400px;
}





.mat-list-base .mat-list-item .mat-list-item-content {
  // padding: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;

}



/*           elevation          */

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-6 {
  box-shadow: 0 99px 98px rgba(0,0,0,0.30), 0 95px 92px rgba(0,0,0,0.22);
}



.template-color {
  background-color: #24596d!important
  // background-color: white!important
}
.pharmacie-color {
  color: white!important;
  // color: #111111;
}

.template-label {
  font-size: 13px;
  font-family: sans-serif;
  color: white!important;
}

.label-header {
  font-size: 13px;
  font-family: sans-serif;
  color: white!important;
  float: right;

 /* white  */
 // font-size: 14px;
 // font-family: sans-serif;
 // color: #111111;
 // float: right;

}
